{% load i18n %}
<!DOCTYPE html>
<html>

<head>
	{% load static from staticfiles %}
	<link rel="stylesheet" href="{{ MULTIMEDIA_EN.css }}bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="{% static 'css/mi.min.css' %}" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Una plataforma web para la venta de servicios virtuales desde Venezuela.">
	<meta name="keywords" content="work, online, service, virtual, quality, good price, job, Venezuela, vzla, trabajo, servicio, calidad, buen precio, empleo, diseno, design, graficos, graphics, fotografia, photograpy, transcripcion, traduccion, translation, redaccion, audio, musica, music, programacion, programming, tecnologia, mercadotecnia, marketing, digital, publicidad, propaganda, negocios, business, video, animacion, diversion, fun, entretenimiento, entertainment, estilo de vida, life style, regalos, gifts">
	<meta name="author" content="Luis Tena. LT">
	{% comment %}<link rel="shortcut icon" href="{% static 'favicon.ico' %}">{% endcomment %}
	{% block extrahead %}{% endblock %}
</head>

<body>
	<div id="envoltorio">
		{% if pag_activa %}
			{% include pag_activa %}
		{% else %}{% comment %} <!-- xHACER:
			# VALIDAR MUY BIEN ESTO: puede un usr acceder a paginas no registradas?? -->  {% endcomment %}
			{% if logueado %}
				{% block mensaje %}{% endblock %}
				<div class="cuerpo">
					<div class="container">		
						<div class="row">
							{% block postman_menu %}{% endblock %}
							{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
	<div id="footer">
		<div class="container row">
			<div class="col-md-4 rif pull-left">&copy; Hire In Venezuela 2016  |  <a href="/oportunidades-inversion/">Inversi&oacute;n</a>  |  <a href="/oportunidades-empleo/">Empleos</a></div>
			<form action="/lengua/" method="post" class="col-md-5 form-inline pull-right" style="padding: 10px;">
				<div class="input-group en-linea pull-right">
					<i class="glyphicon glyphicon-globe"></i>
					<input value="Traducir" id="btn-traducir" class="btn btn-default btn-mio" type="submit">
				</div>
				<div class="form-group en-linea pull-right" style="margin-right: -5px;">
					{% csrf_token %}
					<select class="form-control form-controlado" name="language" style="height: 28px;margin-right: 5px;padding-right: 2px;">
						{% get_language_info_list for idiomas_disponibles as idiomas_disponibles %}
						{% get_current_language as LANGUAGE_CODE %}
						{% for idioma in idiomas_disponibles %}
							<option value="{{ idioma.code }}" {% if idioma.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
								<i class="glyphicon glyphicon-globe"></i> {{ idioma.name_local|capfirst }}
							</option>
						{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</div>
	<script src="{{ MULTIMEDIA_EN.jsjq }}jquery.min.js"></script>
	<script src="{{ MULTIMEDIA_EN.jsboot }}bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
		function enviar_cfg() {
			$("#lenguas").val($("#lista_lenguas").val().toString());
			return true;
		}
		{% if "encolados.html" in pag_activa %}
			$(function() {
				$("button:submit[name='rechazar']").click(function(e){
					e.preventDefault();
					var padre = $(this).parent("form");
					$(padre).find("input[name='opc']").val("2");
					$(padre).submit();
				});
				$("button:submit[name='aceptar']").click(function(e){
					e.preventDefault();
					var padre = $(this).parent("form");
					$(padre).find("input[name='opc']").val("1");
					$(padre).submit();
				});
			});
		{% endif %}
	</script>
	{% if logueado %}
		{% include "es/modal-sugerencia.html" %}
	{% endif %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-73134539-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
