*.py[co]
*.sw[po]
*.sublime-project
*.sublime-workspace
*.bat
*.bak
*.orig
*~
.project
.pydevproject
wsgi/hv/archivos_clasificados
wsgi/hv/hv/settings.py
wsgi/static/subidas

data/jsonServer/