{% load i18n %}
{% block extrahead %}<title>{% if categoria.subcategoria %}Sub-categoría: {{categoria.subcategoria}}{% else %}Categoría: {{categoria.nombre}}{% endif %}</title>{% endblock %}
{% include "es/menu-superior.html" %}
{% load static from staticfiles %}
<script type="text/javascript" charset="utf-8">
	function ir(pag) {
		window.location = "http://buy-2venezuela.rhcloud.com"+pag.options[pag.selectedIndex].value;
	}
</script>
<div class="cuerpo">
	<div class="container">
		{% if categoria.subcategoria %}<h4><a href="/categoria/{{ categoria }}/">{{ categoria.nombre }}</a>  ></h4>{% endif %}
		<div class="titulo">
			<h2 style="float: left;">
				{% if categoria.subcategoria %}{{ categoria.subcategoria }}
				{% else %}{{ categoria.nombre }}
				{% endif %}
			</h2>
			<select class="subcategorias" onchange="ir(this)" name="subcats">
				<option>
					{% if categoria.subcategoria %}Otras Subcategorias:
					{% else %}Subcategor&iacute;as:
					{% endif %}
				</option>
				{% for sub in subcategorias %}
				 	<option value="/categoria/{{ sub.url.padre }}/{{ sub.url }}/">{{ sub }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="row">
			{% for gs in servicios %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ gs.vendedor }}/"><i class="glyphicon glyphicon-user"></i>  @{{ gs.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ gs.url.subcategoria.padre }}/{{ gs.url.subcategoria }}/{{ gs.url }}/">
							<p class="datos-extra">
								{% comment %}<span class="titulo-extras">Nivel:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ gs.nivel }}</span>
								{% if gs.valoraciones %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> {{ gs.valoraciones.promedio }} / 10</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ gs.valoraciones.experiencia }}</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% else %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> Sin calificar</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> 0</span>{% endcomment %}
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% comment %}{% endif %}{% endcomment %}
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/falta.png' %}" width="215" height="130" alt="En estos momentos el servidor no puede subir imagenes">
						{% comment %}<!-- xHACER: src={{ gs.imagen.url }}
							# modificar los "alt" de las imagenes
							# ver si hay en otras plantillas
						-->{% endcomment %}
				 		<!-- <img data-src="holder.js/300x200" alt="..."> -->
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ gs }}</h2>
								{% comment %}{% if perfil.es_venezolano %}
									{% load bolivizar %}
									<div class="col-xs-3 text-center precio"><div>$</div>{{ gs.url.precio }}</div>
								{% else %}{% endcomment %}
								{% load es_entero %}
								{% if gs.url.precio|es_entero %}
									<div class="col-xs-3 text-center precio" style="padding: 30px 0px">$ {{ gs.url.precio|floatformat:"-2" }}</div>
								{% else %}
									<div class="col-xs-3 text-center precio">$ {{ gs.url.precio|floatformat:"-2" }}</div>
								{% endif %}
							</div>
				      	</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container" style="text-align: center;">
		<ul class="pagination">
			<li><a href="?pagina=1">&laquo;</a></li>
			{% for ind in rango %}
				{% if ind != servicios.number %}
					<li><a href="?pagina={{ind}}">{{ind}} <span class="sr-only">(p&aacute;gina actual)</span></a></li>
				{% else %}
					<li class="active"><a href="?pagina={{ind}}">{{ind}} <span class="sr-only">(p&aacute;gina actual)</span></a></li>
				{% endif %}
			{% endfor %}
			<li><a href="?pagina={{rango|length}}">&raquo;</a></li>
		</ul>
	</div>
</div>