{% load i18n %}
{% load static from staticfiles %}
<div class="cuerpo">
	<div class="container">
		<div class="row">
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria" style="background: #F7E296;color:#000">¿Quienes somos?</div>
				<p class="discurso-contacto">{% comment %}<b>Contextual</b>{% endcomment %} Somos una empresa que desarrolla Sistemas Inform&aacute;ticos desde Venezuela para el mundo, actualmente localizada en el Edo. Sucre.{% comment %}<br>RIF: {% endcomment %}</p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria">¿Qu&eacute; hacemos?</div>
				<p class="discurso-contacto"><b>Buy-2Venezuela</b> es una plataforma para la compra-venta de servicios, que a trav&eacute;s de Internet permite ofrecer servicios en cualquier horario y cualquier lugar del territorio Venezolano. La intenci&oacute;n es sacar un provecho econ&oacute;mico de los conocimientos que los Venezolanos poseemos y tambi&eacute;n que otros puedan acceder a estos servicios ofertados a un buen precio de manera r&aacute;pida y segura. Apoya lo nacional y lo latino, y corre la voz. Si no eres parte, Ingresa ya!!</p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria"  style="background: #BE2A2D;">Cont&aacute;ctenos</div>
				<p class="discurso-contacto">
					<b>Correo:</b> contacto-hi@gmail.com<br>
					{% comment %}<b class="facebook">f</b><a href="facebook.com/Buy-2Venezuela" class="enlace-sesion">facebook.com/Buy-2Venezuela</a><br>
					<b class="twitter">t</b><a href="twitter.com/Buy-2Venezuela" class="enlace-sesion">twitter.com/Buy-2Venezuela</a><br><br>{% endcomment %}
					<button data-toggle="modal" data-target=".modal-sugerencia" class="form-envia pull-right"><b>D&eacute;janos un mensaje!</b></button>
				</p>
			</div>
		</div>
	</div>
	<br><br>
</div>
{% comment %}<div class="footer"  style="position: fixed;bottom: 0;">{% endcomment %}