{% load i18n %}
{% load static from staticfiles %}
<div class="cuerpo">
	<div class="container">
		<div class="row">
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria" style="background: #F7E296;color:#000">¿Quienes somos?</div>
				<p class="discurso-contacto"><b>Contextual</b> es una empresa que desarrolla sistemas web desde Venezuela, localizada en el Edo. Sucre.<br>RIF: </p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria">¿Qu&eacute; hacemos?</div>
				<p class="discurso-contacto"><b>GeoServicios</b> es una plataforma para la compra-venta de servicios, desarrollada en Venezuela que a trav&eacute;s de Internet permite trabajar en cualquier horario y cualquier lugar. La intenci&oacute;n es sacar un provecho econ&oacute;mico de los conocimientos que posees o que puedas cumplir un proyecto a bajo costo de manera r&aacute;pida y segura. Apoya lo nacional y lo latino, y corre la voz. Si no eres parte, Ingresa ya!!</p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria"  style="background: #BE2A2D;">Cont&aacute;ctenos</div>
				<p class="discurso-contacto">
					<b>Correo:</b> contacto-gs@gmail.com<br>
					<b class="facebook">f</b><a href="facebook.com/geoservicios" class="enlace-sesion">facebook.com/GeoServicios</a><br>
					<b class="twitter">t</b><a href="twitter.com/geoservicios" class="enlace-sesion">twitter.com/GeoServicios</a><br><br>
					<button data-toggle="modal" data-target=".modal-sugerencia" class="form-envia pull-right"><b>D&eacute;jenos un mensaje!</b></button>
				</p>
			</div>
		</div>
	</div>
	<br><br>
</div>
{% comment %}<div class="footer"  style="position: fixed;bottom: 0;">{% endcomment %}