{% load i18n %}
{% include "menu-superior.html" %}
{% load static from staticfiles %}
<script type="text/javascript" charset="utf-8">
	function enviar(w) {
		w[1].value = 1;
		return true;
	}
</script>
{% if mensaje %}
	<div class="alert alert-warning fade in" style="text-align: center">
		<i><b>HI informa:</b></i> {{ mensaje }}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	</div>
{% endif %}
<div class="cuerpo">
	<div class="container">
		<div class="row">
			<div class="col-md-5 caja-contacto caja-contacto-mod" style="{% if not lista %}background-color: #FFF;border: 1px solid #C8C7C7;{% endif %}">
				<div class="titulo-categoria" style="margin: 0;">Servicios por Terminar ({{ aprobados|length }})</div>
				{% if aprobados %}
					{% for serv in aprobados %}
						<div class="solicitud col-md-12">
							<p>
								<a href="/discusion/{{ serv.conversacion }}/{{ serv.id }}/" style="font-size:1.2em">{{ serv.nombre }}</a>
								<small> Hace {{ serv.fecha|timesince }}</small>
								<small class="pull-right">
									<b>Solicitante:</b> <a href="/perfil/{{ serv.comprador }}/">@{{ serv.comprador }}</a><br>
									<b>Idioma:</b> {{ serv.servicio.idioma }}
								</small>
							</p>
							{% if serv.contrato_mod %}
								<div style="margin: 0 20px">
									<p>Al usuario le gustar&iacute;a:</p>
									{% for n in serv.contrato %}
										<small class="clausula"><b>{{ forloop.counter }}.-</b> {{ n }}</small><br>
									{% endfor %}
								</div>
							{% endif %}
						</div>
					{% endfor %}
				{% else %}
					<p class="text-center" ><br>Sin solicitudes por ahora...</p>
				{% endif %}
			</div>
			<div class="col-md-5 caja-contacto caja-contacto-mod col-md-offset-1" {% if not lista %}style="background-color: #FFF;border: 1px solid #C8C7C7;"{% endif %}>
				<div class="titulo-categoria" style="background: #BE2A2D; margin: 0;">¿Aceptaras los siguientes Servicios? ({{ lista|length }})</div>
				{% if lista %}
					{% for sc in lista %}
						<form action="/lista-solicitudes-servicio/" class="solicitud col-md-12" method="post" accept-charset="utf-8">
							{% csrf_token %}
							<p>
								<span style="font-size:1.2em">{{ sc.nombre }}</span>
								<small> Hace {{ sc.fecha|timesince }}</small>
								<small class="pull-right">
									<b>Solicitante:</b> <a href="/perfil/{{ sc.comprador }}/">@{{ sc.comprador }}</a><br>
									<b>Idioma:</b> {{ sc.servicio.idioma }}
								</small>
							</p>
							{% if sc.contrato_mod %}
								<div style="margin: 0 20px">
									<p>Al usuario le gustar&iacute;a:</p>
									{% for n in sc.contrato %}
										<small class="clausula"><b>{{ forloop.counter }}.-</b> {{ n }}</small><br>
									{% endfor %}
								</div>
							{% endif %}
							<input type="hidden" name="opc" value="0">
							<input type="hidden" name="ident" value="{{ sc.id }}">
							<br>
							<button type="submit" name="aceptar" style="clear: right;" class="acepto-solicitud btn btn-success pull-right">Aceptar</button>
							<button type="submit" name="rechazar" class="btn btn-danger pull-right">Rechazar</button>
							<br>
						</form>
					{% endfor %}
				{% else %}
					<p class="text-center" ><br>Sin solicitudes por ahora...</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<br><br>