{% load i18n %}
{% include "es/menu-superior.html" %}
{% load static from staticfiles %}
{% if mensaje %}
	<div class="alert alert-warning fade in" style="text-align: center">
		<i><b>HI informa:</b></i> {{ mensaje }}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	</div>
{% endif %}
<div class="row presentacion">
	<div class="col-md-6">
		<span class="intro">Buy-2venezuela<small id="beta"> beta</small></span><br>
		<hr class="separa-intro">
		<div class="eslogan">El &uacute;nico lugar donde podr&aacute;s vender servicios directamente a extranjeros, recuperando tu poder adquisitivo mientras ayudas a Venezuela. Si eres extranjero podr&aacute;s acceder a servicios de calidad a buen precio. Ingresa ya! es gratis, f&aacute;cil y seguro</div>
		{% comment %}<a class="btn btn-intro pull-right" type="button" href="#">Dime m&aacute;s!</a>{% endcomment %}
	</div>
	<div class="col-md-6 frase row">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#comnt" data-toggle="tab">Testimonios</a></li>
			{% if not logueado %}
				<li><a href="#inicia-sesion" data-toggle="tab">Sesionarse</a></li>
				<li><a href="#registrarse" data-toggle="tab">Registrarse</a></li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div id="comnt" class="tab-pane active media">
				<img src="{% static 'images/logo.jpg' %}" width="100px" height="80px" class="imag img-responsive media-object pull-left">
				<div class=" media-body">
					<span class="comilla">"</span> Desde el momento que nace este proyecto, se crearon MILLONES de vacantes de empleo en todo el pa&iacute;s. Solo faltas T&Uacute;!<span class="comilla">"</span>
					<span class="nombre">Luis Tena</span>
				</div>
			</div>
			{% if not logueado %}
				<div id="inicia-sesion" class="tab-pane row">
					<h4>Ingresa tus datos:</h4>
					<form action="/sesionarme/" method="post">
						{% csrf_token %}
						<div class="col-sm-12 col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input class="caja-txt-form" type="text" name="usuario" placeholder="Usuario">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input class="caja-txt-form" type="password" name="pw" placeholder="Contrase&ntilde;a">
							</div>
							{% comment %}<label class=""><input class="checkb" type="checkbox" name="mantenido"> Mantener Sesi&oacute;n</label>{% endcomment %}
							<a href="/recuperar-cuenta/" class="enlace-sesion">Olvid&eacute; mis datos!</a>
						</div>
						<input type="submit" value="Inicia!" class="col-sm-12 col-md-4 envia-form">
					</form>
				</div>
				<div id="registrarse" class="tab-pane row">
					<h4>Ingresa tus datos:</h4>
					<form action="/registrarme/" method="post">
						{% csrf_token %}
						<div class="col-sm-12 col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input class="caja-txt-form" type="text" name="usuario" placeholder="Usuario">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input class="caja-txt-form" type="text" name="correo" placeholder="Correo">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input class="caja-txt-form" type="password" name="pw" placeholder="Contrase&ntilde;a">
							</div>
							<input id="vzlano" type="checkbox" name="vzlano"><label id="pregunta-vzlano" for="vzlano">¿Estás residenciado permanentemente en Venezuela?</label>
						</div>
						<input type="submit" value="Registrate" class="col-sm-12 col-md-4 envia-form">
					</form>
				</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="cuerpo">
	<div class="container">
		<div class="titulo">
			<h2><a href="/nuevos-servicios/" title="Ver m&aacute;s">Nuevos Servicios <i class="glyphicon glyphicon-chevron-right mas"></i></a></h2>
		</div>
		<div class="row" id="nvoserv">
			{% for gs in nuevos_geos %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ gs.url.vendedor }}"><i class="glyphicon glyphicon-user"></i>  @{{ gs.url.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ gs.url.subcategoria.padre }}/{{ gs.url.subcategoria }}/{{ gs.url }}/">
							<p class="datos-extra">{% comment %}
								<span class="titulo-extras">Nivel:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ gs.nivel }}</span>
								{% if gs.valoraciones %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> {{ gs.valoraciones.promedio }} / 10</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ gs.valoraciones.experiencia }}</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% else %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> Sin calificar</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> 0</span>{% endcomment %}
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% comment %}{% endif %}{% endcomment %}
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/falta.png' %}" width="215" height="130" alt="">
				 		{% comment %}<!-- <img {{ gs.imagen.url }} data-src="holder.js/300x200" alt="..."> -->{% endcomment %}
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ gs }}</h2>
								{% comment %}{% if perfil.es_venezolano %}
									{% load bolivizar %}
									<div class="col-xs-3 text-center precio"><div>$</div>{{ gs.url.precio }}</div>
								{% else %}{% endcomment %}
								{% load es_entero %}
								{% if gs.url.precio|es_entero %}
									<div class="col-xs-3 text-center precio" style="padding: 30px 0px">$ {{ gs.url.precio|floatformat:"-2" }}</div>
								{% else %}
									<div class="col-xs-3 text-center precio">$ {{ gs.url.precio|floatformat:"-2" }}</div>
								{% endif %}
							</div>
				      	</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% comment %}<div class="titulo">
			<h2><a href="/mejores-servicios/" title="Ver m&aacute;s">Servicios Destacados <i class="glyphicon glyphicon-chevron-right mas"></i></a></h2>
		 </div>
		 <div class="row">
			{% for sv in servicios_valorados %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ sv.servicio.vendedor }}"><i class="glyphicon glyphicon-user"></i>  @{{ sv.servicio.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ sv.servicio.subcategoria.padre.url }}/{{ sv.servicio.subcategoria.url }}/{{ sv.servicio.url }}/">
							<p class="datos-extra">
								<span class="titulo-extras">Nivel:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ sv.nivel }}</span>
								{% if sv.valoraciones %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> {{ sv.valoraciones.promedio }} / 10</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ sv.valoraciones.experiencia }}</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% else %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> Sin calificar</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> 0</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% endif %}
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/falta.png' %}" width="215" height="130" alt="">
				 		<!-- <img{{ sv.imagen.url }} data-src="holder.js/300x200" alt="..."> -->
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ sv.servicio }}</h2>
								{% load es_entero %}
								{% if sv.url.precio|es_entero %}
									<div class="col-xs-3 text-center precio" style="padding: 30px 0px">$ {{ sv.url.precio|floatformat:"-2" }}</div>
								{% else %}
									<div class="col-xs-3 text-center precio">$ {{ sv.url.precio|floatformat:"-2" }}</div>
								{% endif %}
							</div>
				      	</div>
					</div>
				</div>
			{% endfor %}
		</div>{% endcomment %}
		<div class="titulo">
			<h2>Categor&iacute;as</h2>
		</div>
		<div class="row">
			<div class="row fila-1">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="graficos" >Dise&ntilde;o, Gr&aacute;ficos y Fotograf&iacute;a</li>
						<li><a href="/categoria/diseno-graficos-fotografia/historietas-caricaturas-personajes/">Historietas, Caricaturas y Personajes</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/logos/">Logos</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/vectorizar/">Vectorizar</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/estampados/">Estampados para prendas</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/ilustracion/">Ilustraci&oacute;n</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/tarjetas/">Tarjetas de...</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/portada-libros-paquetes/">Portada de Libros y Paquetes</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/fotografia-edicion-fotografica/">Fotograf&iacute;a y Edici&oacute;n Fotogr&aacute;fica</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/presentaciones-infografias/">Presentaciones e Infograf&iacute;as</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/arquitectura-inmobiliario/">Arquitectura y Dise&ntilde;o Inmobiliario</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/mobiliario-interiores/">Mobiliario y Dise&ntilde;o de Interiores</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/modelado-2d-3d/">Modelado 2D 3D</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="redaccion" >Transcripci&oacute;n, Traducci&oacute;n y Redacci&oacute;n</li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/redaccion-escritura-creativa/">Redacci&oacute;n y Escritura Creativa</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/traduccion/">Traducci&oacute;n</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/transcripcion/">Transcripci&oacute;n</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/contenido-sitios-web/">Contenido para Sitios Web</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/resenas-criticas/">Rese&ntilde;as/Cr&iacute;ticas</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/redaccion-discursos/">Redacci&oacute;n de Discursos</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/edicion-revision-escritos/">Edici&oacute;n y Revisi&oacute;n de Escritos</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/comunicado-prensa/">Comunicado de Prensa</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="audio" >Audio y M&uacute;sica</li>
						<li><a href="/categoria/audio-musica/edicion-audio/">Edici&oacute;n de Audio</a></li>
						<li><a href="/categoria/audio-musica/produccion-musical/">Producci&oacute;n Musical</a></li>
						<li><a href="/categoria/audio-musica/composicion-canciones/">Composici&oacute;n de canciones</a></li>
						<li><a href="/categoria/audio-musica/lecciones-musica/">Lecciones de M&uacute;sica</a></li>
						<li><a href="/categoria/audio-musica/musica-rap/">M&uacute;sica Rap</a></li>
						<li><a href="/categoria/audio-musica/narracion-doblaje/">Narraci&oacute;n y Doblaje</a></li>
						<li><a href="/categoria/audio-musica/efectos-sonido/">Efectos de sonido</a></li>
						<li><a href="/categoria/audio-musica/tonos-llamada-personalizados/">Tonos de Llamada Personalizados</a></li>
						<li><a href="/categoria/audio-musica/canciones-personalizadas-dedicatorias/">Canciones Personalizadas y Dedicatorias</a></li>
						<li><a href="/categoria/audio-musica/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="programacion" >Programaci&oacute;n y Tecnolog&iacute;a</li>
						<li><a href="/categoria/programacion-tecnologia/python/">Python</a></li>
						<li><a href="/categoria/programacion-tecnologia/base-datos/">Base de Datos Relacionales y No-Relacionales</a></li>
						<li><a href="/categoria/programacion-tecnologia/ruby/">Ruby</a></li>
						<li><a href="/categoria/programacion-tecnologia/wordpress/">WordPress</a></li>
						<li><a href="/categoria/programacion-tecnologia/php/">PHP</a></li>
						<li><a href="/categoria/programacion-tecnologia/videojuegos/">Videojuegos</a></li>
						<li><a href="/categoria/programacion-tecnologia/app-escritorio/">Aplicaciones de Escritorio</a></li>
						<li><a href="/categoria/programacion-tecnologia/diseno-web-arquitectura-informacion/">Dise&ntilde;o Web y Arquitectura de la Informaci&oacute;n</a></li>
						<li><a href="/categoria/programacion-tecnologia/javascript/">JavaScript, Node.js, Canvas...</a></li>
						<li><a href="/categoria/programacion-tecnologia/c-c++/">C/C++</a></li>
						<li><a href="/categoria/programacion-tecnologia/java/">Java</a></li>
						<li><a href="/categoria/programacion-tecnologia/ios-android-moviles/">iOS, Android y M&oacute;viles</a></li>
						<li><a href="/categoria/programacion-tecnologia/pruebas-software-accesibilidad-usabilidad/">Testing de Software, Accesibilidad y Usabilidad</a></li>
						<li><a href="/categoria/programacion-tecnologia/comercio-electronico/">Comercio Electr&oacute;nico</a></li>
						<li><a href="/categoria/programacion-tecnologia/conversion-recuperacion-archivos/">Conversi&oacute;n y Recuperaci&oacute;n de Archivos</a></li>
						<li><a href="/categoria/programacion-tecnologia/net/">.Net</a></li>
						<li><a href="/categoria/programacion-tecnologia/otros/">Otros</a></li>
					</ul>
				</div>
			</div>
			<div class="row fila-2">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="mercadeo">Marketing Digital</li>
						<li><a href="/categoria/marketing-digital/analisis-web/">An&aacute;lisis Web</a></li>
						<li><a href="/categoria/marketing-digital/menciones-blogs/">Menciones en Blogs</a></li>
						<li><a href="/categoria/marketing-digital/paginas-fans/">P&aacute;ginas de Fans</a></li>
						<li><a href="/categoria/marketing-digital/seo/">Optimizaci&oacute;n en Motores de B&uacute;squeda (SEO)</a></li>
						<li><a href="/categoria/marketing-digital/marketing-redes-sociales/">Marketing en Redes Sociales</a></li>
						<li><a href="/categoria/marketing-digital/generar-trafico-web/">Generar Tr&aacute;fico Web</a></li>
						<li><a href="/categoria/marketing-digital/marketing-videos/">Marketing en Videos</a></li>
						<li><a href="/categoria/marketing-digital/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="publicidad" >Publicidad y Propaganda</li>
						<li><a href="/categoria/publicidad-propaganda/tu-mensaje-en-con/">Tu mensaje en/con...</a></li>
						<li><a href="/categoria/publicidad-propaganda/encabezados-anuncios/">Encabezados y Anuncios</a></li>
						<li><a href="/categoria/publicidad-propaganda/volantes-folletos-regalos-publicitarios/">Volantes, Folletos y Regalos Publicitarios</a></li>
						<li><a href="/categoria/publicidad-propaganda/anuncios-humanos/">Anuncios Humanos</a></li>
						<li><a href="/categoria/publicidad-propaganda/comerciales/">Comerciales</a></li>
						<li><a href="/categoria/publicidad-propaganda/mascotas-modelos/">Mascotas Modelos</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-exteriores/">Publicidad en Exteriores</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-radio/">Publicidad para Radio</a></li>
						<li><a href="/categoria/publicidad-propaganda/promocion-musical/">Promoci&oacute;n Musical</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-anuncios-web/">Anuncios Web</a></li>
						<li><a href="/categoria/publicidad-propaganda/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="negocios" >Negocios</li>
						<li><a href="/categoria/negocios/planes-negocios/">Planes de Negocios</a></li>
						<li><a href="/categoria/negocios/consejos-carrera-profesional/">Consejos para tu Carrera Profesional</a></li>
						<li><a href="/categoria/negocios/estudio-mercado/">Estudio de Mercado</a></li>
						<li><a href="/categoria/negocios/presentacion-proyecto-ideas/">Presentaci&oacute;n para de Proyectos/Ideas</a></li>
						<li><a href="/categoria/negocios/asistentecia-virtual/">Asistentecia Virtual</a></li>
						<li><a href="/categoria/negocios/consejos-negocios/">Consejos para Negocios</a></li>
						<li><a href="/categoria/negocios/servicios-marca-registrada/">Servicios para tu Marca Registrada</a></li>
						<li><a href="/categoria/negocios/consultoria-financiera/">Consultor&iacute;a Financiera</a></li>
						<li><a href="/categoria/negocios/consultoria-legal/">Consultor&iacute;a Legal</a></li>
						<li><a href="/categoria/negocios/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="video" >Video y Animaci&oacute;n</li>
						<li><a href="/categoria/video-animacion/edicion-efectos-produccion/">Edici&oacute;n, Efectos y Producci&oacute;n</a></li>
						<li><a href="/categoria/video-animacion/animacion-2d-3d/">Animaci&oacute;n 2D y 3D</a></li>
						<li><a href="/categoria/video-animacion/stop-motion/">Stop Motion</a></li>
						<li><a href="/categoria/video-animacion/intros/">Intros</a></li>
						<li><a href="/categoria/video-animacion/subtitulos/">Subtitulado</a></li>
						<li><a href="/categoria/video-animacion/narracion-doblaje/">Narraci&oacute;n y Doblaje</a></li>
						<li><a href="/categoria/video-animacion/storyboarding/">Storyboarding</a></li>		
						<li><a href="/categoria/video-animacion/otros/">Otros</a></li>
					</ul>
				</div>
			</div>
			<div class="row fila-3">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" >Diversi&oacute;n y Entretenimiento</li>
						<li><a href="/categoria/diversion-entretenimiento/video-standup/">Video StandUp</a></li>
						<li><a href="/categoria/diversion-entretenimiento/chistes-escritos/">Chistes Escritos</a></li>
						<li><a href="/categoria/diversion-entretenimiento/humor-grafico-memes/">Chistes Gr&aacute;ficos/Memes</a></li>
						<li><a href="/categoria/diversion-entretenimiento/chistes-vivo/">Chistes en Vivo</a></li>
						<li><a href="/categoria/diversion-entretenimiento/marionetas/">Marionetas</a></li>
						<li><a href="/categoria/diversion-entretenimiento/discurso-gracioso-evento/">Discurso Gracioso para Evento</a></li>
						<li><a href="/categoria/diversion-entretenimiento/personificacion-celebridades/">Personificaci&oacute;n de Celebridades</a></li>
						<li><a href="/categoria/diversion-entretenimiento/trucos-magia-malabarismo/">Trucos de Magia y Malabarismo</a></li>
						<li><a href="/categoria/diversion-entretenimiento/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="estilovida" >Estilo de vida</li>
						<li><a href="/categoria/estilo-vida/cuidado-animales-mascotas/">Cuidado de Animales y Mascotas</a></li>
						<li><a href="/categoria/estilo-vida/consejos-relaciones/">Consejos sobre Relaciones</a></li>
						<li><a href="/categoria/estilo-vida/maquillaje-estilo-belleza/">Maquillaje, Estilo y Belleza</a></li>
						<li><a href="/categoria/estilo-vida/ejercicios-rutinas/">Ejercicios y Rutinas (Entrenadores)</a></li>
						<li><a href="/categoria/estilo-vida/dietas-nutricionistas">Dietas y Perdida de Peso (Nutricionistas)</a></li>
						<li><a href="/categoria/estilo-vida/recetas-cocina/">Recetas de Cocina</a></li>
						<li><a href="/categoria/estilo-vida/consejos-padres/">Consejos para Padres</a></li>
						<li><a href="/categoria/estilo-vida/viajes/">Viajes</a></li>
						<li><a href="/categoria/estilo-vida/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="regalos" >Regalos</li>
						<li><a href="/categoria/regalos/tarjetas-felicitaciones/">Tarjetas de Felicitaciones</a></li>
						<li><a href="/categoria/regalos/video-felicitaciones/">Video Felicitaciones</a></li>
						<li><a href="/categoria/regalos/regalos-divertidos-inesperados">Ideas para Regalos Divertidos/Inesperados</a></li>
						<li><a href="/categoria/regalos/manualidades-artesanias/">Ideas para Manualidades y Artesan&iacute;as</a></li>
						<li><a href="/categoria/regalos/regalos-nerdos/">Ideas de Regalos para Nerdos</a></li>
						<li><a href="/categoria/regalos/otros/">Otros</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% if logueado %}
	{% include "en/modal-sugerencia.html" %}
{% endif %}
