{% load i18n %}
{% load static from staticfiles %}
<div class="cuerpo" style="margin-bottom: 50px;">
	<div class="container">
		<div class="row">
			<div style="margin: 0 0 40px;border: 1px solid #DDD;padding: 0;background-color: #fff;">
				<div class="titulo-categoria" style="background: #F7E296;color:#000">Personal Data <button type="button" class="btn btn-default btn-sm pull-right btn-borrar-cuenta"><b>&times; Delete Account</b></button></div>
				<form action="/configuracion/" method="post" accept-charset="utf-8">
					{% csrf_token %}
					<ul class="row categoria">
						<div class="col-md-6">
							<li><img src="{% static 'images/falta.png' %}" width="100px" height="90px" class="imag-perfil media-object"></li>
							<li class="form-group" style="margin:0">
								<label for="exampleInputFile">Change Picture</label>
								{% comment %}<input type="file" class="btn btn-default btn-sm btn-block" id="exampleInputFile">{% endcomment %}
								<!-- <p class="help-block">Example block-level help text here.</p> -->
							</li>
						</div>
						<div class="col-md-6">
							<li><b>User:</b> @{{ perfil }}</li>
							<li>
								{% if nombre_completo %}
									<b>Name and Lastname:</b> {{ nombre_completo }}
								{% else %}
									<input class="form-control input-sm caja-txt-form caja-txt-cfg" name="nombre" type="text" placeholder="Full name">
								{% endif %}
							</li><br>
							<li>You need vacations?<br>
								<p style="text-align: center;">
									{% if vacas %}
										<label class="radio checkbox-inline" style="margin:0"><input type="radio" name="vacas" value="True" checked>Yes</label>
										<label class="radio checkbox-inline"><input type="radio" name="vacas" value="False">No</label>
									{% else %}
										<label class="radio checkbox-inline" style="margin:0"><input type="radio" name="vacas" value="True">Yes</label>
										<label class="radio checkbox-inline"><input type="radio" name="vacas" value="False" checked>No</label>
									{% endif %}
								</p>
							</li>
						</div>
					</ul>
					<ul class="row categoria">
						<li class="separador"></li>
						<div class="col-md-6">
							<li><b>Location:</b><br>
								<select class="form-control formu input-sm caja-txt-form caja-txt-cfg">
									<option>Country</option>
									<option>2</option>
								</select>
								<select class="form-control formu input-sm caja-txt-form caja-txt-cfg">
									<option>Estate</option>
									<option>2</option>
								</select>
								<select class="form-control formu input-sm caja-txt-form caja-txt-cfg">
									<option>City</option>
									<option>2</option>
								</select>
							</li><br>
							<li><b>Edad:</b><input name="edad" class="form-control input-sm caja-txt-form caja-txt-cfg" type="text" placeholder="Age" value="{{ edad }}"></li>
							{% comment %}<li><input name="ci" class="form-control input-sm caja-txt-form caja-txt-cfg" type="text" placeholder="CI/Rif/Pasaporte"></li>{% endcomment %}
						</div>
						<div class="col-md-6">
							<li><a href="#">DEBO ALMACENAR DATOS DE PAYPAL??</a></li>
							<li><textarea name="" class="form-control form-controlado" rows="3" placeholder="Automatic answer when some text you"></textarea></li>
							<li><textarea name="" class="form-control form-controlado" rows="3" placeholder="Schedule when someone can reach you..."></textarea></li>
							<li><button type="submit" class="btn btn-default btn-sm form-guardar pull-right">Save</button></li>
						</div>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
{% comment %}<div class="footer"  style="position: fixed;bottom: 0;">{% endcomment %}