{% load i18n %}
{% load static from staticfiles %}
<div class="cuerpo">
	<div class="container">
		<div class="row">
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria" style="background: #F7E296;color:#000">Who are we?</div>
				<p class="discurso-contacto">In <b>GeoContextual</b> we develop web systems from Venezuela, located at Sucre Estate.<br>RIF: </p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria">¿What we do?</div>
				<p class="discurso-contacto"><b>GeoServicios</b> is a new plataform to buy and sell services, developed in Venezuela that trough internet let you work anytime and anywhere. The intention is to take a economic advantage of your knowledge or that you could complete a proyect with low costs in a easy and fast way. Support national and latin talent, twit your friends. Join us now!!</p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria"  style="background: #BE2A2D;">Contact</div>
				<p class="discurso-contacto">
					<b>Correo:</b> contacto-gs@gmail.com<br>
					<b class="facebook">f</b><a href="facebook.com/geoservicios" class="enlace-sesion">facebook.com/GeoServicios</a><br>
					<b class="twitter">t</b><a href="twitter.com/geoservicios" class="enlace-sesion">twitter.com/GeoServicios</a><br><br>
					<button data-toggle="modal" data-target=".modal-sugerencia" class="form-envia pull-right"><b>D&eacute;jenos un mensaje!</b></button>
				</p>
			</div>
		</div>
	</div>
	<br><br>
</div>
{% comment %}<div class="footer"  style="position: fixed;bottom: 0;">{% endcomment %}