{% load i18n %}
{% block extrahead %}<title>About Us</title>{% endblock %}
{% include "en/menu-superior.html" %}
{% load static from staticfiles %}
<div class="cuerpo">
	<div class="container">
		<div class="row">
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria" style="background: #F7E296;color:#000">Who we are?</div>
				<p class="discurso-contacto">In <b>Buy-2venezuela</b> we develop software from Venezuela.{% comment %}<br>RIF: {% endcomment %}</p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria">¿What we do?</div>
				<p class="discurso-contacto"><b>Buy-2venezuela</b> it is a platform for the sale of services online, this allows us to offer services at any time and anywhere in the Venezuelan territory. The intention is to take an economic advantage of the knowledge that the Venezuelans have and also that others can access these services offered at a good price in a convinient and safe way. Supports the Venezuelan cause and spread the word. If you're not part yet, Register now!</p>
			</div>
			<div class="col-md-4 caja-contacto">
				<div class="titulo-categoria"  style="background: #BE2A2D;">Contact us</div>
				<p class="discurso-contacto">
					<b>Correo:</b> contacto-hi@gmail.com<br>
					{% comment %}<b class="facebook">f</b><a href="facebook.com/Buy-2venezuela" class="enlace-sesion">facebook.com/Buy-2venezuela</a><br>
					<b class="twitter">t</b><a href="twitter.com/Buy-2venezuela" class="enlace-sesion">twitter.com/Buy-2venezuela</a><br><br>{% endcomment %}
					{% if logueado %}
						<button data-toggle="modal" data-target=".modal-sugerencia" class="form-envia pull-right"><b>Leave a message!</b></button>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
	<br><br>
</div>
{% comment %}<div class="footer"  style="position: fixed;bottom: 0;">{% endcomment %}