{% load i18n %}
{% include "en/menu-superior.html" %}
{% load static from staticfiles %}
{% if mensaje %}
	<div class="alert alert-warning fade in" style="text-align: center">
		<i><b>HI News:</b></i> {{ mensaje }}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	</div>
{% endif %}
<div class="row presentacion">
	<div class="col-md-6">
		<span class="intro">Buy-2venezuela<small id="beta"> beta</small></span><br>
		<hr class="separa-intro">
		<div class="eslogan">The only place to buy and sell services from Venezuela. If you are from a foreign country you will get quality services at a good price while you help Venezuelan cause. Register now! its free, easy and safe</div>
		{% comment %}<a class="btn btn-intro pull-right" type="button" href="#">Tell me more!</a>{% endcomment %}
	</div>
	<div class="col-md-6 frase row">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#comnt" data-toggle="tab">Testimony</a></li>
			{% if not logueado %}
				<li><a href="#inicia-sesion" data-toggle="tab">Log in</a></li>
				<li><a href="#registrarse" data-toggle="tab">Sign up</a></li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div id="comnt" class="tab-pane active media">
				<img src="{% static 'images/logo.jpg'  %}" width="100px" height="80px" class="imag img-responsive media-object pull-left">
				<div class=" media-body">
					<span class="comilla">"</span> From the beginning of this project it have created MILLIONS of jobs in Venezuela. Thanks for helping us!<span class="comilla">"</span>
					<span class="nombre">Luis Tena</span>
				</div>
			</div>
			{% if not logueado %}
				<div id="inicia-sesion" class="tab-pane row">
					<h4>Your data:</h4>
					<form action="/sesionarme/" method="post">
						{% csrf_token %}
						<div class="col-sm-12 col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input class="caja-txt-form" type="text" name="usuario" placeholder="Username">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input class="caja-txt-form" type="password" name="pw" placeholder="Password">
							</div>
							{% comment %}<label class=""><input class="checkb" type="checkbox" name="mantenido"> Stay Logged</label>{% endcomment %}
							<a href="#" class="enlace-sesion">I forgot my data!</a>
						</div>
						<input type="submit" value="Start!" class="col-sm-12 col-md-4 envia-form">
					</form>
				</div>
				<div id="registrarse" class="tab-pane row">
					<h4>Your data:</h4>
					<form action="/registrarme/" method="post">
						{% csrf_token %}
						<div class="col-sm-12 col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input class="caja-txt-form" type="text" name="usuario" placeholder="Username">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input class="caja-txt-form" type="text" name="correo" placeholder="Email">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input class="caja-txt-form" type="password" name="pw" placeholder="Password">
							</div>
							<input id="vzlano" type="checkbox" name="vzlano"><label id="pregunta-vzlano" for="vzlano">¿Do you live in Venezuela?</label>
						</div>
						<input type="submit" value="Sign up" class="col-sm-12 col-md-4 envia-form">
					</form>
				</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="cuerpo">
	<div class="container">
		<div class="titulo">
			<h2><a href="/nuevos-servicios/" title="More...">New Services <i class="glyphicon glyphicon-chevron-right mas"></i></a></h2>
		</div>
		<div class="row" id="nvoserv">
			{% for gs in nuevos_geos %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ gs.url.vendedor }}"><i class="glyphicon glyphicon-user"></i>  @{{ gs.url.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ gs.url.subcategoria.padre }}/{{ gs.url.subcategoria }}/{{ gs.url }}/">
							<p class="datos-extra">{% comment %}
								<span class="titulo-extras">Nivel:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ gs.nivel }}</span>
								{% if gs.valoraciones %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> {{ gs.valoraciones.promedio }} / 10</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ gs.valoraciones.experiencia }}</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% else %}
									<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> Sin calificar</span>
									<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> 0</span>{% endcomment %}
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% comment %}{% endif %}{% endcomment %}
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/falta.png' %}" width="215" height="130" alt="">
				 		{% comment %}<!-- <img {{ gs.imagen.url }} data-src="holder.js/300x200" alt="..."> -->{% endcomment %}
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ gs }}</h2>
								{% comment %}{% if perfil.es_venezolano %}
									{% load bolivizar %}
									<div class="col-xs-3 text-center precio"><div>$</div>{{ gs.url.precio }}</div>
								{% else %}{% endcomment %}
								{% load es_entero %}
								{% if gs.url.precio|es_entero %}
									<div class="col-xs-3 text-center precio" style="padding: 30px 0px">$ {{ gs.url.precio|floatformat:"-2" }}</div>
								{% else %}
									<div class="col-xs-3 text-center precio">$ {{ gs.url.precio|floatformat:"-2" }}</div>
								{% endif %}
							</div>
				      	</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% comment %}<div class="titulo">
			<h2><a href="#" title="Ver m&aacute;s">Best Sellers <i class="glyphicon glyphicon-chevron-right mas"></i></a></h2>
		</div>
		<div class="row">
			{% for sv in servicios_valorados %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ sv.servicio.vendedor }}"><i class="glyphicon glyphicon-user"></i>  @{{ sv.servicio.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ sv.servicio.subcategoria.padre.url }}/{{ sv.servicio.subcategoria.url }}/{{ sv.servicio.url }}/">
							<p class="datos-extra">
								<span class="titulo-extras">Level:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ sv.nivel }}</span>
								{% if sv.valoraciones %}
									<span class="titulo-extras">Average:</span><span><i class="glyphicon glyphicon-star color-oro"></i> {{ sv.valoraciones.promedio }} / 10</span>
									<span class="titulo-extras">Experience:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> {{ sv.valoraciones.experiencia }}</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% else %}
									<span class="titulo-extras">Average:</span><span><i class="glyphicon glyphicon-star color-oro"></i> Unrated</span>
									<span class="titulo-extras">Experience:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> 0</span>
									<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
								{% endif %}
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/falta.png' %}" width="215" height="130" alt="">
				 		<!-- <img{{ sv.imagen.url }} data-src="holder.js/300x200" alt="..."> -->
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ sv.servicio }}</h2>
								{% load es_entero %}
								{% if sv.url.precio|es_entero %}
									<div class="col-xs-3 text-center precio" style="padding: 30px 0px">$ {{ sv.url.precio|floatformat:"-2" }}</div>
								{% else %}
									<div class="col-xs-3 text-center precio">$ {{ sv.url.precio|floatformat:"-2" }}</div>
								{% endif %}
							</div>
				      	</div>
					</div>
				</div>
			{% endfor %}
		</div>{% endcomment %}
		<div class="titulo">
			<h2>Categories</h2>
		</div>
		<div class="row">
			<div class="row fila-1">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="graficos" >Design, Graphics & Photography</li>
						<li><a href="/categoria/diseno-graficos-fotografia/historietas-caricaturas-personajes/">Manga, Cartoon & Characters</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/logos/">Logos</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/vectorizar/">Vectorizar</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/estampados/">Design of Prints for clothes</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/ilustracion/">Ilustraci&oacute;n</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/tarjetas/">Presentation/Bussiness/Invitation Card</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/portada-libros-paquetes/">Book Cover & Packages</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/fotografia-edicion-fotografica/">Photography & Photographic Edition</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/presentaciones-infografias/">Presentations & Infographics</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/arquitectura-inmobiliario/">Architecture & Housing Design</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/mobiliario-interiores/">Furniture & Interior Design</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/modelado-2d-3d/">2D & 3D Models</a></li>
						<li><a href="/categoria/diseno-graficos-fotografia/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="redaccion" >Transcription, Translation & Drafting</li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/redaccion-escritura-creativa/">Drafting & Creative Writing</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/traduccion/">Translation</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/transcripcion/">Transcription</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/contenido-sitios-web/">Content for Web Sites</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/resenas-criticas/">Reviews & Critiques</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/redaccion-discursos/">Speech Drafting</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/edicion-revision-escritos/">Edition, Speelcheck & Proofreading</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/comunicado-prensa/">Press Release</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="audio" >Audio & Music</li>
						<li><a href="/categoria/audio-musica/edicion-audio/">Audio Edition</a></li>
						<li><a href="/categoria/audio-musica/produccion-musical/">Musical Production</a></li>
						<li><a href="/categoria/audio-musica/composicion-canciones/">Songwriter</a></li>
						<li><a href="/categoria/audio-musica/lecciones-musica/">Music Lessons</a></li>
						<li><a href="/categoria/audio-musica/musica-rap/">Rap Music</a></li>
						<li><a href="/categoria/audio-musica/narracion-doblaje/">Narration & Dubbing</a></li>
						<li><a href="/categoria/audio-musica/efectos-sonido/">Sound Effects</a></li>
						<li><a href="/categoria/audio-musica/tonos-llamada-personalizados/">Custom Ringtones</a></li>
						<li><a href="/categoria/audio-musica/canciones-personalizadas-dedicatorias/">Custom Songs & Dedication</a></li>
						<li><a href="/categoria/audio-musica/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="programacion" >Programaci&oacute;n & Tecnolog&iacute;a</li>
						<li><a href="/categoria/programacion-tecnologia/python/">Python. Frameworks & Libraries</a></li>
						<li><a href="/categoria/programacion-tecnologia/base-datos/">Relationals & No-Relationals Data Bases</a></li>
						<li><a href="/categoria/programacion-tecnologia/ruby/">Ruby. Frameworks & Libraries</a></li>
						<li><a href="/categoria/programacion-tecnologia/wordpress/">WordPress</a></li>
						<li><a href="/categoria/programacion-tecnologia/php/">PHP. Frameworks & Libraries</a></li>
						<li><a href="/categoria/programacion-tecnologia/videojuegos/">Videogames</a></li>
						<li><a href="/categoria/programacion-tecnologia/app-escritorio/">Desktop Applications</a></li>
						<li><a href="/categoria/programacion-tecnologia/diseno-web-arquitectura-informacion/">Web Design & Information Architecture</a></li>
						<li><a href="/categoria/programacion-tecnologia/javascript/">JavaScript, Node.js, Canvas...</a></li>
						<li><a href="/categoria/programacion-tecnologia/c-c++/">C/C++</a></li>
						<li><a href="/categoria/programacion-tecnologia/java/">Java</a></li>
						<li><a href="/categoria/programacion-tecnologia/ios-android-moviles/">iOS, Android & Mobile</a></li>
						<li><a href="/categoria/programacion-tecnologia/pruebas-software-accesibilidad-usabilidad/">Software Testing, Accesibility & Usability</a></li>
						<li><a href="/categoria/programacion-tecnologia/comercio-electronico/">eCommerce</a></li>
						<li><a href="/categoria/programacion-tecnologia/conversion-recuperacion-archivos/">File Convertion & Data Recovery</a></li>
						<li><a href="/categoria/programacion-tecnologia/net/">.Net</a></li>
						<li><a href="/categoria/programacion-tecnologia/joomla-drupal/">Joomla & Drupal</a></li>
						<li><a href="/categoria/programacion-tecnologia/otros/">Others</a></li>
					</ul>
				</div>
			</div>
			<div class="row fila-2">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="mercadeo" >Marketing Digital</li>
						<li><a href="/categoria/marketing-digital/analisis-web/">Web Analytics</a></li>
						<li><a href="/categoria/marketing-digital/menciones-blogs/">Blog Mentions</a></li>
						<li><a href="/categoria/marketing-digital/paginas-fans/">FanPage</a></li>
						<li><a href="/categoria/marketing-digital/seo/">Search Engine Optimization (SEO)</a></li>
						<li><a href="/categoria/marketing-digital/marketing-redes-sociales/">Social Network Marketing</a></li>
						<li><a href="/categoria/marketing-digital/generar-trafico-web/">Web Traffic</a></li>
						<li><a href="/categoria/marketing-digital/marketing-videos/">Video Marketing</a></li>
						<li><a href="/categoria/marketing-digital/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="publicidad" >Publicity & Propaganda</li>
						<li><a href="/categoria/publicidad-propaganda/tu-mensaje-en-con/">Your message in/with...</a></li>
						<li><a href="/categoria/publicidad-propaganda/encabezados-anuncios/">Ads & Headlines</a></li>
						<li><a href="/categoria/publicidad-propaganda/volantes-folletos-regalos-publicitarios/">Flyers, Handouts & Publicitary Gift Ideas</a></li>
						<li><a href="/categoria/publicidad-propaganda/anuncios-humanos/">Human Billboards</a></li>
						<li><a href="/categoria/publicidad-propaganda/comerciales/">Commercials</a></li>
						<li><a href="/categoria/publicidad-propaganda/mascotas-modelos/">Pet Models</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-exteriores/">Outdoor Advertising</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-radio/">Radio Publicity</a></li>
						<li><a href="/categoria/publicidad-propaganda/promocion-musical/">Music Promotion</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-anuncios-web/">Web Ads</a></li>
						<li><a href="/categoria/publicidad-propaganda/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="negocios" >Business</li>
						<li><a href="/categoria/negocios/planes-negocios/">Business Plans</a></li>
						<li><a href="/categoria/negocios/consejos-carrera-profesional/">Professional Career Advice</a></li>
						<li><a href="/categoria/negocios/estudio-mercado/">Market</a></li>
						<li><a href="/categoria/negocios/presentacion-proyecto-ideas/">Proyects/Ideas Presentations</a></li>
						<li><a href="/categoria/negocios/asistentecia-virtual/">Virtual Assistants</a></li>
						<li><a href="/categoria/negocios/consejos-negocios/">Business Advice</a></li>
						<li><a href="/categoria/negocios/servicios-marca-registrada/">Brand & Trademark</a></li>
						<li><a href="/categoria/negocios/consultoria-financiera/">Financial Advice</a></li>
						<li><a href="/categoria/negocios/consultoria-legal/">Legal Advice</a></li>
						<li><a href="/categoria/negocios/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="video" >Video & Animation</li>
						<li><a href="/categoria/video-animacion/edicion-efectos-produccion/">Edition, Effects & Production</a></li>
						<li><a href="/categoria/video-animacion/animacion-2d-3d/">2D & 3D Animation</a></li>
						<li><a href="/categoria/video-animacion/stop-motion/">Stop Motion</a></li>
						<li><a href="/categoria/video-animacion/intros/">Intros</a></li>
						<li><a href="/categoria/video-animacion/storyboarding/">Storyboarding</a></li>		
						<li><a href="/categoria/video-animacion/otros/">Others</a></li>
					</ul>
				</div>
			</div>
			<div class="row fila-3">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" >Fun & Entertainment</li>
						<li><a href="/categoria/diversion-peticion/video-standup/">StandUp Video about Subject/Event</a></li>
						<li><a href="/categoria/diversion-peticion/chistes-escritos/">Written Jokes about Subject/Event</a></li>
						<li><a href="/categoria/diversion-peticion/humor-grafico-memes/">Graphic Jokes/Memes about Subject/Event</a></li>
						<li><a href="/categoria/diversion-peticion/chistes-vivo/">Live Jokes</a></li>
						<li><a href="/categoria/diversion-peticion/marionetas/">Puppets</a></li>
						<li><a href="/categoria/diversion-peticion/discurso-gracioso-evento/">Funny Speech for Event</a></li>
						<li><a href="/categoria/diversion-peticion/personificacion-celebridades/">Personification of Celebrities</a></li>
						<li><a href="/categoria/diversion-peticion/trucos-magia-malabarismo/">Magic Tricks & Jugglery</a></li>
						<li><a href="/categoria/diversion-peticion/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="estilovida" >Life Style</li>
						<li><a href="/categoria/estilo-vida/cuidado-animales-mascotas/">Animal Care & Pets</a></li>
						<li><a href="/categoria/estilo-vida/consejos-relaciones/">Relationship Advices</a></li>
						<li><a href="/categoria/estilo-vida/maquillaje-estilo-belleza/">Makeup, Style & Beauty</a></li>
						<li><a href="/categoria/estilo-vida/ejercicios-rutinas/">Exercise & Routines (Trainers)</a></li>
						<li><a href="/categoria/estilo-vida/dietas-nutricionistas">Diets & Lose Weight (Nutritionists)</a></li>
						<li><a href="/categoria/estilo-vida/recetas-cocina/">Cooking Recipes</a></li>
						<li><a href="/categoria/estilo-vida/consejos-padres/">Parent Advices</a></li>
						<li><a href="/categoria/estilo-vida/viajes/">Traveling</a></li>
						<li><a href="/categoria/estilo-vida/otros/">Others</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="regalos" >Gifts</li>
						<li><a href="/categoria/regalos/tarjetas-felicitaciones/">Greeting Cards</a></li>
						<li><a href="/categoria/regalos/video-felicitaciones/">Greeting Video</a></li>
						<li><a href="/categoria/regalos/regalos-divertidos-inesperados">Ideas for Unexpected/Fun Gifts</a></li>
						<li><a href="/categoria/regalos/manualidades-artesanias/">Ideas for Crafts</a></li>
						<li><a href="/categoria/regalos/regalos-nerdos/">Ideas for Gift to Geeks</a></li>
						<li><a href="/categoria/regalos/otros/">Others</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% if logueado %}
	{% include "en/modal-sugerencia.html" %}
{% endif %}
