{% load i18n %}
{% load static from staticfiles %}
{% if mensaje %}
	<div class="alert alert-warning fade in" style="text-align: center">
		<i><b>GS News:</b></i> {{ mensaje }}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	</div>
{% endif %}
<div class="row presentacion">
	<div class="col-md-6">
		<span class="intro">GeoServicios</span><br>
		<hr class="separa-intro">
		<div class="eslogan">The only place to buy and sell the services that you need, in your area. Register and get part of the Service Economy!. Easy, quick and safe</div>
		<a class="btn btn-intro pull-right" type="button" href="#">Tell me more!</a>
	</div>
	<div class="col-md-6 frase row">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#comnt" data-toggle="tab">Testimony</a></li>
			{% if logueado %}
			{% else %}
				<li><a href="#inicia-sesion" data-toggle="tab">Sesionate</a></li>
				<li><a href="#registrarse" data-toggle="tab">Registrate</a></li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div id="comnt" class="tab-pane active media">
				<img src="{% static 'images/falta.png'  %}" width="100px" height="80px" class="imag img-responsive media-object pull-left">
				<div class=" media-body">
					<span class="comilla">"</span> From the begining of this project it has created MILLIONS of jobs vacant around the world. Join now!<span class="comilla">"</span>
					<span class="nombre">Laura Patiño Casta&ntilde;eda</span>
				</div>
			</div>
			{% if logueado %}
			{% else %}
				<div id="inicia-sesion" class="tab-pane row">
					<h4>Your data:</h4>
					<form action="/sesionarme/" method="post">
						{% csrf_token %}
						<div class="col-sm-12 col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input class="caja-txt-form" type="text" name="usuario" placeholder="User">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input class="caja-txt-form" type="password" name="pw" placeholder="Password">
							</div>
							<label class=""><input class="checkb" type="checkbox" name="mantenido"> Keep session</label>
							<a href="#" class="enlace-sesion">I do forgot my data!</a>
						</div>
						<input type="submit" value="Start!" class="col-sm-12 col-md-4 envia-form">
					</form>
				</div>
				<div id="registrarse" class="tab-pane row">
					<h4>Your data:</h4>
					<form action="/registrarme/" method="post">
						{% csrf_token %}
						<div class="col-sm-12 col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input class="caja-txt-form" type="text" name="usuario" placeholder="User">
							</div>
							<!-- <input class="caja-txt-form" type="text" name="nombre" placeholder="Nombres Apellidos"> -->
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input class="caja-txt-form" type="text" name="correo" placeholder="Email">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input class="caja-txt-form" type="password" name="pw" placeholder="Password">
							</div>
						</div>
						<input type="submit" value="Register" class="col-sm-12 col-md-4 envia-form">
					</form>
				</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="cuerpo">
	<div class="container">
		<div class="titulo">
			<h2><a href="#" title="Ver m&aacute;s">New GeoServices <i class="glyphicon glyphicon-chevron-right mas"></i></a></h2>
		</div>
		<div class="row">
			{% for gs in nuevos_geos %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ gs.vendedor }}"><i class="glyphicon glyphicon-user"></i>  @{{ gs.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ gs.subcategoria.padre.url }}/{{ gs.subcategoria.url }}/{{ gs.servicio.url }}/">
							<p class="datos-extra">
								<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> +199k / +199k</span>
								<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> +99k</span>
								<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/profile.jpg'  %}" width="215" height="130" alt="">
				 		<!-- <img data-src="holder.js/300x200" alt="..."> -->
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ gs }}</h2>
								<div class="col-xs-3 text-center precio"><div>Bs</div>{{ gs.precio }}</div>
							</div>
				      		</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="titulo">
			<h2><a href="#" title="Ver m&aacute;s">Stand out Users <i class="glyphicon glyphicon-chevron-right mas"></i></a></h2>
		</div>
		<div class="row">
			{% for sv in servicios_valorados %}
				<div class="col-md-3 caja-serv">
					<div class="cara-secundaria">
						<p class="usuario"><a href="/perfil/{{ sv.servicio.vendedor }}"><i class="glyphicon glyphicon-user"></i>  @{{ sv.servicio.vendedor }}</a></p>
						<a class="enlace-serv" href="/categoria/{{ sv.servicio.subcategoria.padre.url }}/{{ sv.servicio.subcategoria.url }}/{{ sv.servicio.url }}/">
							<p class="datos-extra">
								<span class="titulo-extras">Promedio:</span><span><i class="glyphicon glyphicon-star color-oro"></i> +199k / +199k</span>
								<span class="titulo-extras">Experiencia:</span><span><i class="glyphicon glyphicon-bookmark color-oro"></i> +99k</span>
								<span class="vermas"><i class="glyphicon glyphicon-chevron-right" style=""></i></span>
							</p>
						</a>
					</div>
				 	<div class="cara-principal">
						<img src="{% static 'images/falta.png'  %}" width="215" height="130" alt="1.000 Me Gusta para tu post, foto o video en Facebook">
				 		<!-- <img data-src="holder.js/300x200" alt="..."> -->
					 	<div class="dir-serv">
							<div class="row">
								<h2 class="col-xs-9 nomb-serv">{{ sv.servicio }}</h2>
								<div class="col-xs-3 text-center precio"><div>Bs</div>{{ sv.servicio.precio }}</div>
							</div>
				      		</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="titulo">
			<h2>Categories</h2>
		</div>
		<div class="row">
			<div class="row fila-1">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="graficos" >Gr&aacute;ficos, Dise&ntilde;o y Fotograf&iacute;a</li>
						<li><a href="/categoria/graficos-diseno-fotografia/historietas-caricaturas-personajes/">Historietas, Caricaturas y Personajes</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/diseno-logos/">Dise&ntilde;o de Logos</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/ilustracion/">Ilustraci&oacute;n</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/portada-libros-paquetes/">Portada de Libros y Paquetes</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/diseno-web-iu/">Dise&ntilde;o Web e <abbr title="Interfaz de Usuario">IU</abbr></a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/fotografia-edicion-fotografica/">Fotograf&iacute;a y Edici&oacute;n Fotogr&aacute;fica</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/diseno-presentaciones/">Dise&ntilde;o de Presentaciones</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/tarjetas-negocios/">Tarjetas de Negocios</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/encabezados-anuncios/">Encabezados y Anuncios</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/arquitectura/">Arquitectura</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/pagina-web-estatica/">P&aacute;gina Web Est&aacute;tica</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/mobiliario/">Mobiliario</a></li>
						<li><a href="/categoria/graficos-diseno-fotografia/videojuegos/">Videojuegos</a></li>  <!-- x HACER: deberia tener su propia categoria?? -->
						<li><a href="/categoria/graficos-diseno-fotografia/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="redaccion" >Transcripci&oacute;n, Traducci&oacute;n y Redacci&oacute;n</li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/redaccion-escritura-creativa/">Redacci&oacute;n y Escritura Creativa</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/traduccion/">Traducci&oacute;n</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/transcripcion/">Transcripci&oacute;n</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/contenido-sitios-web/">Contenido para Sitios Web</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/resena-critica/">Rese&ntilde;a/Cr&iacute;tica</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/curriculum-cartas-presentacion/">Curriculum, Cartas de Presentación</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/redaccion-discursos/">Redacci&oacute;n de Discursos</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/edicion-revision-escritos/">Edici&oacute;n y Revisi&oacute;n de Escritos</a></li>
						<li><a href="/categoria/transcripcion-traduccion-redaccion/comunicado-prensa/">Comunicado de Prensa</a></li>
						<!-- Periodismo -->
						<li><a href="/categoria/transcripcion-traduccion-redaccion/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="audio" >Audio y M&uacute;sica</li>
						<li><a href="/categoria/audio-musica/edicion-masterizado-audio/">Edici&oacute;n y Masterizad&oacute; de Audio</a></li>
						<li><a href="/categoria/audio-musica/canciones/">Canciones</a></li>
						<li><a href="/categoria/audio-musica/composicion-canciones/">Composici&oacute;n de canciones</a></li>
						<li><a href="/categoria/audio-musica/lecciones-musica/">Lecciones de M&uacute;sica</a></li>
						<li><a href="/categoria/audio-musica/musica-rap/">M&uacute;sica Rap</a></li>
						<!-- <li><a href="#">Música Hip-Hop</a></li> -->
						<li><a href="/categoria/audio-musica/narracion-edicion-doblaje/">Narraci&oacute;n y Edici&oacute;n Doblaje</a></li>
						<li><a href="/categoria/audio-musica/efectos-sonido/">Efectos de sonido</a></li>
						<li><a href="/categoria/audio-musica/tonos-llamada-personalizados/">Tonos de Llamada Personalizados</a></li>
						<li><a href="/categoria/audio-musica/felicitaciones-correo-voz/">Felicitaciones por Correo de Voz</a></li>
						<li><a href="/categoria/audio-musica/canciones-personalizadas/">Canciones Personalizadas</a></li>
						<li><a href="/categoria/audio-musica/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="programacion" >Programaci&oacute;n y Tecnolog&iacute;a</li>
						<li><a href="/categoria/programacion-tecnologia/.net/">.Net</a></li>
						<li><a href="/categoria/programacion-tecnologia/c-c++/">C/C++</a></li>
						<li><a href="/categoria/programacion-tecnologia/css-html/">CSS y HTML</a></li>
						<li><a href="/categoria/programacion-tecnologia/joomla-drupal/">Joomla y Drupal</a></li>
						<li><a href="/categoria/programacion-tecnologia/base-datos/">Base de Datos</a></li>
						<li><a href="/categoria/programacion-tecnologia/java/">Java</a></li>
						<li><a href="/categoria/programacion-tecnologia/javascript/">JavaScript</a></li>
						<li><a href="/categoria/programacion-tecnologia/psd-html/">PSD a HTML</a></li>
						<li><a href="/categoria/programacion-tecnologia/wordpress/">WordPress</a></li>
						<li><a href="/categoria/programacion-tecnologia/flash/">Flash</a></li> <!-- # x PENSAR:  eliminar? -->
						<li><a href="/categoria/programacion-tecnologia/ios-android-moviles/">iOS, Android y M&oacute;viles</a></li>
						<li><a href="/categoria/programacion-tecnologia/php/">PHP</a></li>
						<li><a href="/categoria/programacion-tecnologia/pr-pruebas-software/"><abbr title="Preguntas y Respuestas/">PR</abbr> y Pruebas de Software</a></li>
						<li><a href="/categoria/programacion-tecnologia/tecnologia/">Tecnolog&iacute;a</a></li>
						<li><a href="/categoria/programacion-tecnologia/otros/">Otros</a></li>
					</ul>
				</div>
			</div>
			<div class="row fila-2">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="mercadeo" >Marketing Digital</li> <!-- mercadeo/mercadotecnia -->
						<li><a href="/categoria/marketing-digital/analisis-web/">An&aacute;lisis Web</a></li>
						<li><a href="/categoria/marketing-digital/articulos-envios-rp/">Art&iacute;culos y Env&iacute;os de RP</a></li>
						<li><a href="/categoria/marketing-digital/menciones-blogs/">Menciones en Blogs</a></li>
						<li><a href="/categoria/marketing-digital/busqueda-dominios/">B&uacute;squeda de Dominios</a></li>
						<li><a href="/categoria/marketing-digital/paginas-fans/">P&aacute;ginas de Fans</a></li>
						<li><a href="/categoria/marketing-digital/seo/"><abbr title="Optimizaci&oacute;n en Motores de B&uacute;squeda">SEO</abbr></a></li>
						<!-- <li><a href="#">Favoritos y Enlaces</a></li> -->
						<li><a href="/categoria/marketing-digital/marketing-redes-sociales/">Marketing en Redes Sociales</a></li>
						<li><a href="/categoria/marketing-digital/generar-trafico-web/">Generar Tr&aacute;fico Web</a></li>
						<li><a href="/categoria/marketing-digital/marketing-videos/">Marketing en Videos</a></li>
						<li><a href="/categoria/marketing-digital/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="publicidad" >Publicidad y Propaganda</li>
						<!-- <li><a href="#">Sostener tu Letrero</a></li> -->
						<li><a href="/categoria/publicidad-propaganda/tu-mensaje-en-con/">Tu mensaje en/con...</a></li> <!-- en mi cadera, con piedras/ tu mensaje sobre: arena,mi cadera, ¿sobre PIEDRAS?-->
						<li><a href="/categoria/publicidad-propaganda/volantes-folletos-regalos/">Volantes, Folletos y Regalos</a></li>
						<li><a href="/categoria/publicidad-propaganda/anuncios-humanos/">Anuncios Humanos</a></li>
						<li><a href="/categoria/publicidad-propaganda/comerciales/">Comerciales</a></li>
						<li><a href="/categoria/publicidad-propaganda/mascotas-modelos/">Mascotas Modelos</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-exteriores/">Publicidad en Exteriores</a></li>
						<li><a href="/categoria/publicidad-propaganda/radio/">Radio</a></li>
						<li><a href="/categoria/publicidad-propaganda/promocion-musical/">Promoci&oacute;n Musical</a></li>
						<li><a href="/categoria/publicidad-propaganda/publicidad-anuncios-web/">Publicidad en Anuncios Web</a></li>
						<li><a href="/categoria/publicidad-propaganda/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="negocios" >Negocios</li>
						<li><a href="/categoria/negocios/planes-negocios/">Planes de Negocios</a></li>
						<li><a href="/categoria/negocios/consejos-carrera-profesional/">Consejos para tu Carrera Profesional</a></li>
						<!-- x HACER: <li>  !Entrepreneurship!</li> -->
						<li><a href="/categoria/negocios/estudio-mercado/">Estudio de Mercado</a></li>
						<li><a href="/categoria/negocios/presentaciones/">Presentaciones</a></li>
						<li><a href="/categoria/negocios/asistentecia-virtual/">Asistentecia Virtual</a></li>
						<li><a href="/categoria/negocios/consejos-negocios/">Consejos para Negocios</a></li>
						<li><a href="/categoria/negocios/servicios-marca/">Servicios de Marca</a></li>
						<li><a href="/categoria/negocios/consultoria-financiera/">Consultor&iacute;a Financiera</a></li>
						<li><a href="/categoria/negocios/consultoria-legal/">Consultor&iacute;a Legal</a></li>
						<li><a href="/categoria/negocios/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="video" >Video y Animaci&oacute;n</li>
						<li><a href="/categoria/video-animacion/comerciales/">Comerciales</a></li>
						<li><a href="/categoria/video-animacion/edicion-efectos-post-produccion/">Edici&oacute;n, Efectos y Post Producci&oacute;n</a></li>
						<li><a href="/categoria/video-animacion/animacion-3d/">Animaci&oacute;n y 3D</a></li>
						<li><a href="/categoria/video-animacion/testimonios-comentarios/">Testimonios y Comentarios</a></li>
						<li><a href="/categoria/video-animacion/marionetas/">Marionetas</a></li>
						<li><a href="/categoria/video-animacion/stop-motion/">Stop Motion</a></li>
						<li><a href="/categoria/video-animacion/intros/">Intros</a></li>
						<li><a href="/categoria/video-animacion/storyboarding/">Storyboarding</a></li>		
						<li><a href="/categoria/video-animacion/otros/">Otros</a></li>
					</ul>
				</div>
			</div>
			<div class="row fila-2">
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" >Diversi&oacute;n y Entretenimiento</li>
						<li><a href="/categoria/diversion-peticion/video-standup-sobre-tema-evento/">Video StandUp sobre Tema/Evento</a></li>
						<li><a href="/categoria/diversion-peticion/chistes-escritos/">Chistes Escritos</a></li>
						<li><a href="/categoria/diversion-peticion/chistes-vivo/">Chistes en Vivo</a></li>
						<li><a href="/categoria/diversion-peticion/discurso-gracioso-evento/">Discurso Gracioso para Evento</a></li>
						<li><a href="/categoria/diversion-peticion/personificacion-celebridades/">Personificaci&oacute;n de Celebridades</a></li>
						<li><a href="/categoria/diversion-peticion/truco-magia-personalizable/">Truco de Magia Personalizable</a></li>
						<li><a href="/categoria/diversion-peticion/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="estilovida" >Estilo de vida</li>
						<li><a href="/categoria/estilo-vida/cuidado-animales-mascotas/">Cuidado de Animales y Mascotas</a></li>
						<li><a href="/categoria/estilo-vida/consejos-relaciones/">Consejos sobre Relaciones</a></li>
						<!-- <li><a href="#">Diet y Weight Loss (Nutricionistas)</a></li> -->
						<!-- <li><a href="#">Salud y Ejercicio</a></li> -->
						<li><a href="/categoria/estilo-vida/maquillaje-estilo-belleza/">Maquillaje, Estilo y Belleza</a></li>  <!-- x HACER: peligro -->
						<li><a href="/categoria/estilo-vida/astrologia-tarot/">Astrolog&iacute;a y Tarot</a></li>
						<li><a href="/categoria/estilo-vida/recetas-cocina/">Recetas de Cocina</a></li>
						<li><a href="/categoria/estilo-vida/consejos-padres/">Consejos para Padres</a></li>
						<li><a href="/categoria/estilo-vida/viajes/">Viajes</a></li>
						<li><a href="/categoria/estilo-vida/otros/">Otros</a></li>
					</ul>
				</div>
				<div class="col-md-3 caja-serv caja-titulo">
					<ul class="categoria">
						<li class="titulo-categoria" id="regalos" >Regalos</li>
						<li><a href="/categoria/regalos/tarjetas-felicitacion/">Tarjetas de Felicitaci&oacute;n</a></li>  <!-- x HACER:  virtual tambien?? -->
						<li><a href="/categoria/regalos/video-felicitaciones/">Video Felicitaciones</a></li>
						<!-- <li><a href="#">Unusual Gifts</a></li> -->
						<li><a href="/categoria/regalos/arte-manualidades/">Arte y Manualidades</a></li>
						<li><a href="/categoria/regalos/joyeria-hecha-mano/">Joyer&iacute;a Hecha a Mano</a></li>
						<li><a href="/categoria/regalos/regalos-nerdos/">Regalos para Nerdos</a></li>
						{% comment %}<li><a href="#">Tarjetas Postales desde...</a></li>
						<li><a href="#">Artesan&iacute;as Recicladas</a></li>{% endcomment %}
						<li><a href="/categoria/regalos/otros/">Otros</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% if logueado %}
	{% include "en/modal-sugerencia.html" %}
{% endif %}