<nav class="navbar navbar-default navbar-fixed-top navbar-fixed-top-mio" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle menu-opc" data-toggle="collapse" data-target="#m-principal">
				<i class="glyphicon glyphicon-plus"></i>
			</button>
			<a class="navbar-brand navbar-brand-mio" title="Home" href="/"><i class="glyphicon glyphicon-home"></i>{% comment %}<!-- <img src="images/logo.png" alt="logo" style="height: 30px;"> -->{% endcomment %}</a>
		</div>
		<div class="collapse navbar-collapse" id="m-principal">
			<form class="navbar-form navbar-left" role="search" action="/buscar/" method="get">
				<div class="form-group">
					<input type="text" class="form-control form-controlado" id="search-query" placeholder="Search" name="consulta">
				</div>
				<button id="btn-buscar" class="btn btn-default btn-mio glyphicon glyphicon-search" type="submit"></button>
			</form>
			<ul class="nav nav-mio navbar-nav navbar-nav-mio navbar-right">
				{% if logueado %}
					{% if perfil_propio %}
						<li class="active">
							<a href="/perfil/{{ perfil.usuario }}/" title="Profile"><i class="glyphicon glyphicon-user"></i> <span class="menu-gr">Profile</span></a>
						</li>
					{% else %}
						{% if servicio.descripcion and perfil == servicio.url.vendedor %}
							<li class="menu-servicio">
								<a href="#" data-toggle="modal" data-target=".modal-editarserv" title="Edit Service"><i class="glyphicon glyphicon-pencil"></i> <span class="menu-gr">Edit</span></a>
							</li>
							<li class="menu-servicio">
								<a href="#" data-toggle="modal" data-target=".modal-eliminarserv" title="Delete Service"><i class="glyphicon glyphicon-trash"></i> <span class="menu-gr">Delete</span></a>
							</li>
						{% endif %}
						<li>
							<a href="/perfil/{{ perfil_logueado.usuario }}/" title="Perf&iacute;l"><i class="glyphicon glyphicon-user"></i> <span class="menu-gr">Profile</span></a>
						</li>
					{% endif %}
					{% if current_url %}{# variable solo disponible en la pagina de mensajeria #}
						<li class="active">
							<a href="/mensajeria/" title="Mensajer&iacute;a"><i class="glyphicon glyphicon-comment"></i> <span class="menu-gr">Messages</span></a>
						</li>
					{% else %}
						<li>
							<a href="/mensajeria/" title="Mensajer&iacute;a"><i class="glyphicon glyphicon-comment"></i> <span class="menu-gr">Messages</span></a>
						</li>
					{% endif %}
				{% endif %}
				{% comment %}
				<li><a href="#" title="Noticias GS"><i class="glyphicon glyphicon-bell"></i> <span class="menu-gr">Noticias GS</span></a>
				</li>{% endcomment %}
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" title="more..."><!-- <i class="glyphicon glyphicon-plus"></i>  --><i class="glyphicon glyphicon-chevron-down"></i> <span class="menu-gr">more...</span></a>
					<ul class="dropdown-menu">
						{% comment %}
						<li><a href="/cuadroHonor/"><i class="glyphicon glyphicon-th"></i>Dashboard</a>
						</li>{% endcomment %}
						{% comment %}<li><a href="/blog/"><i class="glyphicon glyphicon-paperclip"></i>Blog / Guide</a>
						</li>{% endcomment %}
						<li><a href="/contacto/"><i class="glyphicon glyphicon-bullhorn"></i>About Us</a>
						</li>
						{% if logueado %}
							<li><a href="/configuracion/"><i class="glyphicon glyphicon-cog"></i>Configuration</a>
							</li>
							<li><a href="#" data-toggle="modal" data-target=".modal-sugerencia"><i class="glyphicon glyphicon-pushpin"></i>Suggestions</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li><a href="/cierre-sesion/"><i class="glyphicon glyphicon-remove"></i>Log out</a>
							</li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Categories</a>
					<ul class="dropdown-menu">
						<li class=""><a href="/categoria/diseno-graficos-fotografia/">Design, Graphics & Photography</a>
						</li>
						<li class=""><a href="/categoria/transcripcion-traduccion-redaccion/">Transcription, Translation & Drafting</a>
						</li>
						<li class=""><a href="/categoria/audio-musica/">Audio & Music</a>
						</li>
						<li class=""><a href="/categoria/programacion-tecnologia/">Programming & Tecnology</a>
						</li>
						<li class=""><a href="/categoria/marketing-digital/">Digital Marketing</a>
						</li>
						<li class=""><a href="/categoria/publicidad-propaganda/">Propaganda & Publicity</a>
						</li>
						<li class=""><a href="/categoria/negocios/">Business</a>
						</li>
						<li class=""><a href="/categoria/video-animacion/">Video & Animation</a>
						</li>
						<li class=""><a href="/categoria/diversion-entretenimiento/">Fun & Entertainment</a>
						</li>
						<li class=""><a href="/categoria/estilo-vida/">Life Style</a>
						</li>
						<li class=""><a href="/categoria/regalos/">Gifts</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
