{% load i18n %}
{% load static from staticfiles %}
<div class="cuerpo">
	<div class="container">
		<h2>Recover password</h2>
		<hr class="linea-hr">
		{% if cambiar_contra %}
			<form id="form-recupera-cta" action="/recuperar-cuenta/" method="post" accept-charset="utf-8">
				{% csrf_token %}
				<p>Type your new password:</p>
				<input type="password" name="pw">
				<input type="hidden" name="correo_usr" value="{{correo_usr}}">
				<input type="submit" value="Send it">
			</form>
		{% else %}
			<form id="form-recupera-cta" action="/recuperar-cuenta/" method="post" accept-charset="utf-8">
				{% csrf_token %}
				<input type="email" name="correo" placeholder="Type your email associated to this account">
				<input type="submit" value="Send it">
			</form>
		{% endif %}
	</div>
</div>