{% load i18n %}
<nav class="navbar navbar-default navbar-fixed-top navbar-fixed-top-mio" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle menu-opc" data-toggle="collapse" data-target="#m-principal">
				<i class="glyphicon glyphicon-plus"></i>
			</button>
			<a class="navbar-brand navbar-brand-mio" title="Inicio" href="/"><i class="glyphicon glyphicon-home"></i><!-- <img src="images/logo.png" alt="logo" style="height: 30px;"> --></a>
		</div>
		<div class="collapse navbar-collapse" id="m-principal">
			<form class="navbar-form navbar-left" role="search" action="/buscar/" method="get">
				<div class="form-group">
					<input type="text" class="form-control form-controlado" id="search-query" placeholder="{% trans 'Search' %} " name="consulta">
				</div>
				<button class="btn btn-default btn-mio glyphicon glyphicon-search" type="submit"></button>
			</form>
			<ul class="nav nav-mio navbar-nav navbar-nav-mio navbar-right">
				{% if logueado %}
					{% if perfil_propio %}
						<li class="active">
							<a href="/perfil/{{ perfil.usuario }}/" title="{% trans 'Profile' %}"><i class="glyphicon glyphicon-user"></i> <span class="menu-gr">{% trans "Profile" %}</span></a>
						</li>
					{% else %}
						{% if servicio.descripcion and perfil == servicio.url.vendedor %}
							<li class="menu-servicio">
								<a href="#" data-toggle="modal" data-target=".modal-editarserv" title="{% trans 'Edit Service' %}"><i class="glyphicon glyphicon-pencil"></i> <span class="menu-gr">{% trans "Edit" %}</span></a>
							</li>
							<li class="menu-servicio">
								<a href="#" data-toggle="modal" data-target=".modal-eliminarserv" title="{% trans 'Delete Service' %} "><i class="glyphicon glyphicon-trash"></i> <span class="menu-gr">{% trans "Delete" %}</span></a>
							</li>
						{% endif %}
						<li>
							<a href="/perfil/{{ perfil_logueado.usuario }}/" title="{% trans 'Profile' %}"><i class="glyphicon glyphicon-user"></i> <span class="menu-gr">{% trans "Profile" %}</span></a>
						</li>
					{% endif %}
					{% if current_url %}{# variable solo disponible en la pagina de mensajeria #}
						<li class="active">
							<a href="/mensajeria/" title="{% trans 'Messages' %}"><i class="glyphicon glyphicon-comment"></i> <span class="menu-gr">{% trans 'Messages' %}</span></a>
						</li>
					{% else %}
						<li>
							<a href="/mensajeria/" title="{% trans 'Messages' %}"><i class="glyphicon glyphicon-comment"></i> <span class="menu-gr">{% trans 'Messages' %}</span></a>
						</li>
					{% endif %}
				{% endif %}
				{% comment %}
				<li><a href="#" title="Noticias GS"><i class="glyphicon glyphicon-bell"></i> <span class="menu-gr">Noticias GS</span></a>
				</li>{% endcomment %}
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" title="{% trans 'more...' %}"><!-- <i class="glyphicon glyphicon-plus"></i>  --><i class="glyphicon glyphicon-chevron-down"></i> <span class="menu-gr">{% trans 'more...' %}</span></a>
					<ul class="dropdown-menu">
						{% comment %}
						<li><a href="/cuadroHonor/"><i class="glyphicon glyphicon-th"></i>Cuadro de Honor</a>
						</li>{% endcomment %}
						{% comment %}<li><a href="/blog/"><i class="glyphicon glyphicon-paperclip"></i>Blog / Gu&iacute;a</a>
						</li>{% endcomment %}
						<li><a href="/contacto/"><i class="glyphicon glyphicon-bullhorn"></i>{% trans "About Us" %}</a>
						</li>
						{% if logueado %}
							<li><a href="/configuracion/"><i class="glyphicon glyphicon-cog"></i>{% trans "Configuration" %}</a>
							</li>
							<li><a href="#" data-toggle="modal" data-target=".modal-sugerencia"><i class="glyphicon glyphicon-pushpin"></i>{% trans "Suggestions" %}</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li><a href="/cierre-sesion/"><i class="glyphicon glyphicon-remove"></i>{% trans "Log out" %}</a>
							</li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> {% trans "Categories" %}</a>
					<ul class="dropdown-menu">
						<li class=""><a href="/categoria/diseno-graficos-fotografia/">{% trans "Design, Graphics & Photography" %}</a>
						</li>
						<li class=""><a href="/categoria/transcripcion-traduccion-redaccion/">{% trans "Transcription, Translation & Drafting" %}</a>
						</li>
						<li class=""><a href="/categoria/audio-musica/">{% trans "Audio & Music" %}</a>
						</li>
						<li class=""><a href="/categoria/programacion-tecnologia/">{% trans "Programming & Tecnology" %}</a>
						</li>
						<li class=""><a href="/categoria/marketing-digital/">{% trans "Marketing Digital" %}</a>
						</li>
						<li class=""><a href="/categoria/publicidad-propaganda/">{% trans "Propaganda & Publicity" %}</a>
						</li>
						<li class=""><a href="/categoria/negocios/">{% trans "Business" %}</a>
						</li>
						<li class=""><a href="/categoria/video-animacion/">{% trans "Video & Animation" %}</a>
						</li>
						<li class=""><a href="/categoria/diversion-entretenimiento/">{% trans "Fun & Entertainment" %}</a>
						</li>
						<li class=""><a href="/categoria/estilo-vida/">{% trans "Life Style" %}</a>
						</li>
						<li class=""><a href="/categoria/regalos/">{% trans "Gifts" %}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
